* {
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 254, 254);
}

header {

    background-color: darkslateblue;
    color: white;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;

    background-color: darkslateblue;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;

}

nav a:hover {
    background-color: lightblue;
}


main {
    background-color: rgb(254, 254, 254);
    ;
    max-width: 60rem;
    margin: auto;
}