*{
    box-sizing: border-box;
}

header{
    max-width: 50rem;
    background-color: blue;
    color: white;
    margin:auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    background-color: blue;
    margin: auto;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    
}

nav a:hover{
    background-color: lightblue;
}